/Espotify/dist/
/espo/nbproject/private/
/Espotify/build/
/JavaApplication13/nbproject/private/
/Espotify/build/classes/GUI
/Espotify/build/classes/GUI
/Espotify/build/classes
/Espotify/build
/Espotify/src/META-INF
