* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #22c55e;
    padding: 1rem;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.logo svg {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.search-container {
    flex: 1;
    margin: 0 1rem;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border-radius: 9999px;
    border: none;
    outline: none;
}

.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #6b7280;
}
.auth-links a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #1a1a1a;
    transition: background-color 0.3s ease;
}

.auth-links a:hover {
    background-color: #e7ebda;
}


.search-container {
    display: flex; /* Alinea los elementos en fila */
    align-items: center; /* Centra verticalmente los elementos */
    border-radius: 5px; /* Bordes redondeados */
    max-width: 600px; /* Ancho máximo del contenedor */
    margin-left: auto; /* Aligna el buscador a la derecha */
}

.search-input {
    width: 100%; /* Toma todo el ancho del contenedor */
    padding: 8px 10px; /* Espaciado interno del campo de búsqueda */
    border: none; /* Sin borde para el campo */
    outline: none; /* Sin contorno en enfoque */
    font-size: 14px; /* Tamaño de la fuente */
}

.search-button {
    background-color: #1a1a1a; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 8px 15px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor a pointer al pasar el ratón */
    border-radius: 45px; /* Bordes redondeados */
    height: 100%; /* Altura completa del contenedor */
    margin-left: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.search-button:hover {
   background-color: white;
    color: #191414;
}